.mode-inner {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: transform .3s;
  transform-style: preserve-3d;
  transition: transform .3s;
  -webkit-transition: transform .3s;
}
  .flip {    
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  .mode-front,
  .mode-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .mode-back {
    transform: rotateY(180deg);
  }

  .mode-front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }

  .btn {
    cursor: pointer;
  }